<div class="sidebar">
    <!-- <div class="logoContainer">
        <img src="../../assets/img/logo.png" alt="">
    </div> -->
    <ul>
    <li><i class="fa fa-home fa-lg"></i><a routerLink="/dashboard">Dashboard</a></li>
      <li><i class="fa fa-book fa-lg"></i><a routerLink="/batches">Batches</a></li>
      <li><i class="fa fa-user fa-lg"></i><a routerLink="/teachers">Teachers</a></li>
      <li><i class="fa fa-user fa-lg"></i><a routerLink="/students">Students</a></li>
      <li><i class="fa fa-money fa-lg"></i><a routerLink="/fee-management">Fee Management</a></li>
      <li><i class="fa fa-phone fa-lg"></i><a routerLink="/support">Support</a></li>
      <!-- <li><i class="fa fa-user"></i></li> -->
    </ul>
  </div>
  