
    <div class="dashboard">
        <h1>CMS Dashboard</h1>

        <div class="statistics">
            <div class="stat-card">
                <h2>Total Number of Students</h2>
                <p>250</p>
            </div>
            <div class="stat-card">
                <h2>Total Number of Teachers</h2>
                <p>20</p>
            </div>
            <div class="stat-card">
                <h2>Revenue Expected</h2>
                <p>20,000</p>
            </div>
        </div>
        <div class="stat2Container">
            <div class="stat-card2">
                <h2>List of All Batches</h2>
                <ul class="list">
                    <li>Batch 1</li>
                    <li>Batch 2</li>
                    <li>Batch 3</li>
                    <!-- Add more batch items here -->
                </ul>
            </div>
    
            <div class="stat-card2">
                <h2>List of All Unpaid Students</h2>
                <ul class="list">
                    <li>Student 1</li>
                    <li>Student 2</li>
                    <li>Student 3</li>
                    <!-- Add more unpaid students here -->
                </ul>
            </div>
        </div>
    </div>
